.var-line {
  background-color: #F48024;
  height: 3px;
  margin-bottom: 5px;
}

.top-bar {
  overflow: hidden;
  position: fixed;
}

.left-icon {
  width: 100px;
  height: 50px;
}
.btn-sign-up {
  background-color: #07C;
}

.blue-box {
  height: 350px;
  width: ;
  background-color: #117bf3;
  margin-top: 10px;
  color: white;
}

.text-blue-box {
  color: white;
  position: center;
}

.btn-google {
  width: 300px;
  color: #535a60;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #FFF;
  margin-bottom: 10px;
}

.btn-facebook {
  width: 300px;
  color: #FFF;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #385499;
  margin-bottom: 10px;
}

.or {
  text-align: center;
}

.btn-sign-up {
  color: white;
  border: 1px solid white;
}

.form-label {
  align-items: center;
  background-color: #eff0f1;
  color: #535a60;
  width: 150px;
  height: 30px;
}

#display_name, #email_address, #password {
  width: 460px;
  height: 30px;
  border-radius: unset;
}

.deep-blue-box {
  height: 50px;
  width: ;
  background-color: darkblue;
}

.deep-blue-text {
  color: white;
}

.search-box {
  width: 650px;
  height: 35px;
}


